.wall {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

.item {
  display: flex;
  gap: 10px;

  &__img {
    width: 40px;
  }

  &__date {
    font-size: 14px;
  }

  &__msg {
    font-size: 18px;
  }
}
